---
layout: default
title: PubConf Software Comedy Variety Show and Afterparty
body_class: page-index
sitemap:
    priority: 1.0
---

<div class="hero">
    <div class="container">
        <div class="title">
            <h1 style="display: none;">PubConf by TrackJS</h1>
            <img src="/assets/images/index/title-logo.svg" alt="PubConf by TrackJS">
        </div>
        <div class="subtitle">
            <h2>THE SOFTWARE VARIETY SHOW AND AFTER-PARTY</h2>
        </div>
    </div>
    {% capture menu_links %}
    <ol>
    {% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for event in site.events %}
        {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if event_date > now %}
        <li>
            <a href="{{ event.url }}">{{ event.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
        <li>
            <a href="https://merch.pubconf.io/">Buy Merch</a>
        </li>
        <li>
            <a href="/events/">Event Archive</a>
        </li>
        <li>
            <a href="/speakers/">Speakers</a>
        </li>
        <li>
            <a href="/code-of-conduct/">Code of Conduct</a>
        </li>
    </ol>
    {% endcapture %}
    {% include menu.html links=menu_links %}
</div>

<ol class="event-list">
    {% capture now %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for event in site.events %}
        {% capture event_date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if event_date > now %}
        <li>
            <a href="{{ event.url }}">
                <h2>{{ event.title }}</h2>
                <div class="event-date">{{ event.local_time | date: "%A, %B %e, %Y" }}</div>
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ol>

<div class="newsletter">
    <div class="container">
        <h2>Get Email Updates</h2>
        <p>Join our newsletter to be the first to know about tickets and events.</p>
        <a href="{{ site.newsletter_url }}" class="button">
            <i class="icon-paper-plane-empty"></i>
            Subscribe to PubConf
        </a>
    </div>
</div>

<div class="global-supporter">
    <div class="container">
        <h3>Global Founding Partners</h3>
        <div class="supporters">
            <div class="supporter-item">
                <a href="https://trackjs.com/">
                    <span style="display: none;">TrackJS Front-End Error Monitoring</span>
                    <img data-src="/assets/images/supporters/tjs-dark.webp"
                        alt="TrackJS Front-End Error Monitoring"
                        loading="lazy"
                        height="200" width="480">
                </a>
            </div>
            <div class="supporter-item">
                <a href="https://requestmetrics.com/">
                    <span style="display: none;">Request Metrics Performance Monitoring</span>
                    <img data-src="/assets/images/supporters/rm-dark.webp"
                        alt="Request Metrics Performance Monitoring"
                        loading="lazy"
                        height="200" width="480">
                </a>
            </div>
        </div>
    </div>
</div>

{% include gallery.html %}
{% include video.html %}

<!-- JSON-LD -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ site.title }}",
        "description": "{{ site.description | strip_html | strip_newlines }}",
        "url": "{{ site.url }}",
        "logo": "{{ site.url }}{{ site.image }}",
        "sameAs": [
            "https://www.facebook.com/{{ site.facebook_username }}",
            "https://twitter.com/{{ site.twitter_username }}"
        ],
        "email": "{{ site.email }}"
    }
</script>
