---
layout: null
---

<!DOCTYPE html>
<html lang="en_US">
    {% include head.html %}
    <body class="{{ layout.body_class }} {{ page.body_class }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W45J4JL7"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {{ content }}
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
